*{margin: 0;
padding: 0;}

html {
    height: 100%;
}

body{

/*background-image: url("../images/Space_Planets_Wallpaper.jpg");*/
background-image: url("../images/abstract-watercolor-space-background-1-2581694.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
background-color: rgb(3, 3, 3);


}

#canvas{margin: 0;
padding: 0;
margin: 0;
position: absolute;
z-index: 1;
outline: none;
border: none;

background: transparent;}

.controls{
    
    background-color: black;
    bottom: 0px;
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 2;
    outline: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.lifes{

padding: 0 20px;
    display: flex;
    
}

.life{

width: 30px;
height: 30px;
border-radius: 50%;
background-color: rgb(241, 165, 14);
margin: 0 20px;

}

.start{

height: 40px;
color: white;
background-color: rgb(7, 6, 96);
border-radius: 2px;
padding: 0 10px;
border:1px solid white;
width: 100px;
margin-right: 100px;


}